.container {
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 3.2rem;
}

.icon {
  display: block;
  height: 4.8rem;
  width: 4.8rem;
  position: relative;
  z-index: 2;

  margin: 3.2rem auto;
}

.icon::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;

  background-color: #9cccbd;
  z-index: -1;
  height: 9.6rem;
  width: 9.6rem;
}

.passwordPageTitle {
  text-align: center;
  font-size: 3.6rem;
  text-transform: capitalize;
  margin-bottom: 2.4rem;
}

.pageText {
  font-size: 2rem;
  font-weight: 600;
}

.passwordContainer {
}

.inputList {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.inputItem {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.label {
  display: block;
  text-transform: uppercase;
  font-size: 2.4rem;
}

.input {
  width: 100%;
  font-family: inherit;
  border: none;
  padding: 0.8rem;
  font-size: 2.4rem;
}
