.container {
  border: 0.3rem solid rgba(0, 0, 0, 0.5);
  background-color: #f3f9f7;
  border-radius: 3.2rem 0rem;
  overflow: hidden;
}

.header {
  border-bottom: 0.3rem solid rgba(0, 0, 0, 0.5);
  padding: 0.4rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
}

.borderDark {
  border-color: #010d09;
}

.mentionsList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  font-size: 2rem;
}
.listItems {
  text-transform: uppercase;
  font-weight: 900;
  width: 100%;
  text-align: center;
  padding: 0.4rem 0;
  background-color: #f3f9f7;
  cursor: pointer;
}

.mention_0 {
  color: #099268;
}
.mention_1 {
  color: #2f9e44;
}
.mention_2 {
  color: #68a413;
}
.mention_3 {
  color: #c48a03;
}
.mention_4 {
  color: #f76707;
}
.mention_5 {
  color: #c92a2a;
}
.mention_6 {
  color: #343a40;
}

.mentionSelected {
  background-color: currentColor;
}
.mentionSelected span {
  color: #f3f9f7;
}
