.container {
  display: flex;
  flex-direction: column;
}

.pageTitle {
  font-size: 3.6rem;
  margin: 3.2rem 0;
  text-align: center;
}

.iconPencil {
  display: block;
  height: 4.8rem;
  width: 4.8rem;
  position: relative;
  z-index: 2;

  margin: 3.2rem auto;
}

.iconPencil::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;

  background-color: #9cccbd;
  z-index: -1;
  height: 9.6rem;
  width: 9.6rem;
}

.sectionTitle {
  font-size: 3rem;
  margin-bottom: 0.8rem;
}

.warningMessage {
  font-size: 1.6rem;
  font-weight: 800;
  color: red;
}

.sectionList {
  margin-bottom: 3.2rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.listItem {
  font-size: 2rem;
  padding: 0.4rem 0.8rem;

  display: flex;
  align-items: center;
}

.listItem__saved,
.listItem__saved .input {
  background-color: #9cccbd;
  height: 4rem;
}

.listItem__proposition,
.input__new {
  background-color: #e6f2ef;
}

.listItem__proposition {
  border: 0.2rem solid #cee5de;
}

.input,
.input__new {
  font: inherit;
  font-size: inherit;
  display: block;

  border: none;
  /* text-transform: uppercase; */
  font-weight: 700;

  flex-grow: 1;
}

.input::placeholder,
.input__new::placeholder {
  color: rgba(1, 13, 9, 0.2);
}

.input {
  padding-left: 0.8rem;
  cursor: default;
}

.input:focus,
.input:active {
  outline: none;
}

.input__new,
.input__new:active,
.input__new:focus {
  padding: 0.8rem;
  outline: none;
}

.btn {
  height: 3.2rem;
  width: 3.2rem;
  padding: 0;
  border-color: #087f5b;
  color: #087f5b;
}

.btn:disabled {
  border: none;
  color: #cee5de;
  cursor: not-allowed;
}

.btn__remove {
  background-color: #9cccbd;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #010d09;
}

.formControl {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.btnSubmit {
  display: block;
  width: 100%;
}

.btnSubmit:disabled {
  background-color: #e6f2ef;
  border-color: #cee5de;
  cursor: not-allowed;
}

.btnSubmit:disabled svg {
  color: #cee5de;
}

.btnSubmit svg {
  height: 4.8rem;
  width: 4.8rem;
}
