.container {
  height: 100%;
  padding: 2.4rem;

  margin: auto;
  font-weight: 500;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 4.4rem;
  text-align: center;
}

.presentation {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.btnPrimary {
  background-color: #010d09;
  color: #e6f2ef;
  font-weight: 700;
}

.btnSecondary {
  background-color: #e6f2ef;
  color: #010d09;
  font-weight: 600;
}
