.container {
  height: 100%;
  padding: 2.4rem;

  margin: auto;
  font-weight: 500;

  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
  gap: 3.2rem;
}

.title {
  font-size: 4.4rem;
  text-align: center;
  margin-bottom: 13vh;
}

.presentation {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;

  grid-row: 2;
}

.btnPrimary {
  background-color: #010d09;
  color: #e6f2ef;
  font-weight: 700;
  width: 100%;

  grid-row: 3;
  justify-self: center;
}

.btnSecondary {
  background-color: #e6f2ef;
  color: #010d09;
  font-weight: 600;
  width: 100%;

  grid-row: 5/-1;
  justify-self: center;
}
