.container {
  /* height: 100%; */
  width: 100%;
  position: relative;

  padding-top: 1.6rem;
  padding-bottom: 2.4rem;
}

.iconClose {
  position: absolute;
  top: 0;
  right: 0;
  height: 4.4rem;
  width: 4.4rem;

  border: none;
  cursor: pointer;
  background-color: transparent;
}
