.container {
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 3.2rem;
}

.icon {
  display: block;
  height: 4.8rem;
  width: 4.8rem;
  position: relative;
  z-index: 2;

  margin: 3.2rem auto;
}

.icon::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;

  background-color: #9cccbd;
  z-index: -1;
  height: 9.6rem;
  width: 9.6rem;
}

.passwordPageTitle {
  text-align: center;
  font-size: 3.6rem;
  text-transform: capitalize;
  margin-bottom: 2.4rem;
}

.pageText {
  font-size: 2rem;
  font-weight: 600;
}

.passwordContainer {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.inputList {
  display: flex;
  flex-direction: column;
}

.inputItem {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: capitalize;
  /* margin-bottom: 0.8rem; */
}

.input {
  width: 100%;
  font-family: inherit;
  border: none;
  padding: 0.8rem;
  font-size: 2.4rem;
}

.btnConfirmPassword {
  display: block;
  width: 100%;
}

.btnConfirmPassword:disabled {
  background-color: #e6f2ef;
  border-color: #cee5de;
  cursor: not-allowed;
}

.btnConfirmPassword:disabled svg {
  color: #cee5de;
}

.btnConfirmPassword svg {
  height: 3.2rem;
  width: 3.2rem;
}
