.iconClose {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  /* top: 0rem;
  right: 0rem; */
  height: 3.6rem;
  width: 3.6rem;

  border: 1px solid #010d09;
  /* border-radius: 50%; */
  cursor: pointer;
  background-color: transparent;
}
