.container {
  position: fixed;
  top: 20vh;
  bottom: 20vh;
  right: 10vw;
  left: 10vw;
  z-index: 10;

  color: #e6f2ef;
  font-weight: 700;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.btn {
  width: 80%;
}
