/* 
Main colors: 
#087f5b
https://maketintsandshades.com/#087f5b
TINTS: 
#e6f2ef
#cee5de
#9cccbd
SHADES:
#010d09
#02261b


FONT-SIZE SYSTEM:
10 12 14 16 18 20 24 30 36 44 52 62 74 86 96

SPACING SYSTEM:
2 4 8 12 16 24 32 48 64 80 96 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #e6f2ef;
}

body {
  font-family: "PT Serif", "Playfair Display", serif, sans-serif;
  font-size: 3.2rem;
  color: #010d09;
  position: relative;
}

.wrapper {
  height: 100vh;
  width: auto;
  background-color: #e6f2ef;
  padding: 1.2rem;
}
